@import 'settings.less';
@import 'reset.less';

html {
    font-family: sans-serif;
    font-size: @base-font-size;
}

body {
    background: @background-color;
    color: @font-body-color;
    font-family: @font-body-family;
    font-size: @font-body-size;
    line-height: @line-height;
    min-width: 320px;
    text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
    color: @font-heading-color;
    font-family: @font-heading-family;
    margin-bottom: @font-heading-margin-bottom;
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-weight: 600;
}

a {
    color: @link-color-normal;

    &:active {
        color: @link-color-active;
    }

    &:hover {
        color: @link-color-hover;
    }

    &:active,
    &:hover {
        outline: 0;
    }
}

p {
    vertical-align: baseline;
}

strong {
    font-weight: 600;
}

ul,ol,dl,p,pre {
    margin-bottom: 1rem;
}

ul {
    li {
        list-style: disc;
    }
}

figure {
    margin-bottom: 1rem;

    figcaption {
        p {
            margin: 5px 18.041237113402% 0 0;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #999;
        }
    }
}

pre {
    background-color: @color-light;
    font-family: Consolas,Menlo,Courier New,monospace,sans-serif;
    overflow: auto;
    padding: 5px;
}

.content {
    background-color: @content-background-color;
}

.main-content,
.site-footer-content,
.primary-navigation {
    max-width: 765px;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-inline {
    ul {
        display: inline;

        li {
            display: inline;
            list-style: none;
        }
    }
}

.post-title {
    text-align: center; 

    h1 {
        margin-bottom: 0;

        a {
            text-decoration: none;
        }
    }

    time {
        text-transform: uppercase;
    }

    .post-metadata {
        color: @color-mid;
        margin-bottom: 16px;
    }
}

.post-footer {
    margin-top: 2rem;
}

.post-share {
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;

    &::before {
        border-color: @color-light;
        right: 0%;
        content: "";
        position: absolute;
        height: 1px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        top: 50%;
        width: 765px;
    }

    a {
        background-color: @color-light;
        border-color: @color-mid;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        position: relative;
        text-align: center;
        width: 40px;

        &.facebook-share {
            &:hover {
                color: rgba( 59, 89, 152, 1 );
            }
        }

        &.twitter-share {
            &:hover {
                color: rgba( 0, 172, 237, 1 );
            }
        }

        &.google-share {
            &:hover {
                color: rgba( 221, 75, 57, 1);
            }
        }
    }
}

.post-tags {
    font-size: .75rem;

    a {
        background-color: @color-light;
        border-color: @color-mid;
        border-style: solid;
        border-width: 1px;
        display: inline-block;
        font-size: .65rem;
        letter-spacing: 1px;
        margin-bottom: 8px;
        margin-right: 6px;
        padding: 4px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.btn {
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 1;
    opacity: 0;
    padding: 5px 0px 6px 0px;
    position: absolute;
    text-align: center;
    top: -40px;
    visibility: hidden;
}
