@base-font-size             : 16px;
@line-height                : 1.618;
@font-color                 : #444444;
@background-color           : #ffffff;
@content-background-color   : #ffffff;

@color-light: lighten(@font-color, 65%);
@color-mid: lighten(@font-color, 33%);

@color-hilite:  #F60;

// Typography
@font-body-family           : 'Source Sans Pro', arial, sans-serif;
@font-heading-family        : @font-body-family;
@font-mono                  : Consolas, Menlo, 'Courier New', monospace, sans-serif;

@font-body-size             : 1rem;
@font-body-weight           : 400;
@font-body-color            : @font-color;

@font-heading-size          : 1.5rem;
@font-heading-color         : darken(@font-color, 25%);
@font-heading-margin-bottom : .5rem;

// Hyperlinks
@link-color-normal          : @font-color;
@link-color-active          : #000;
@link-color-hover           : @color-hilite;
@link-color-focus           : @link-color-active;
@link-color-visited         : @link-color-active;
