@base-font-size:   14px;
@line-height: 1.618;

@background-color: #f9f8f3;
@font-color: #283c46;

@font-body-family: 'Open Sans', arial, sans-serif;
@font-body-size:   1rem;
@font-body-color:  @font-color;

@font-header-family: 'Saira Semi Condensed', 'Georgia', serif;
@font-header-size: 1.5rem;
@font-header-color: darken(@font-color, 25%);

@link-color-normal: #FF0000;
@link-color-active: #000;
@link-color-hover: #F60;
@link-color-focus: @link-color-active;
@link-color-visited: @link-color-active;