{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<article class="post post-full">
    <header class='post-title'>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <section class='post-metadata'>
            <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format $dateFormat }}</time>
            &middot; {{ .WordCount }} Words
            &middot; {{ .ReadingTime }} minutes
        </section>
    </header>
    <section class='post-content'>
    {{ .Content }}
    </section>
    <footer class='post-footer post-metadata'>
        {{ partial "tags.html" . }}
        {{ partial "social/share.html" . }}
    </footer>
</article>
{{ .Render "post-nav" }}
{{ end }}
