<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head/head.html" . }}
</head>
<body>
    <div class="content">
        <nav role="navigation">
            <ul>
                <li class="nav-home"><a href="{{ .Site.BaseURL }}">Home</a></li>
                {{ range .Site.Menus.main }}
                    <li class="nav-{{ .Identifier }}"><a href="{{ .URL | absLangURL }}">{{ .Pre }}<span>{{ .Name }}</span></a></li>
                {{ end }}
            </ul>
        </nav>
        <section class="main-content">
            {{ block "main" . }}{{ end }}
        </section>
    </div>
    <footer class="site-footer">
        {{ partial "footer/footer.html" . }}
    </footer>
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-771294-5','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
