<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head/head.html" . }}
</head>
<body>
    <div class="content">
        {{ partial "navigation.html" . }}
        <main class="main-content" role="main">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
    <footer class="site-footer">
        <section class="site-footer-content">
        {{ block "footer" . }}
            {{ partial "footer/footer.html" . }}
        {{ end }}
        </section>
    </footer>
    {{ partial "ga_async.html" .Site.GoogleAnalytics }}
</body>
</html>
