{{ define "title" }}
    {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}
<section class="post list">
    <p>Posts tagged under '{{ .Title | upper }}'</p>
    {{ $paginator := .Paginate (where .Data.Pages "Section" "posts") }}
    {{ range $paginator.Pages.GroupByDate "2006" "desc" }}
    <section class='post-summary'>
    {{ range sort .Pages "Date" "desc" }}
         <header>
            <h2 class="title"> <a href='{{ .Permalink }}'> {{ .Title }}</a> </h2>
            <div class="meta">
                {{ .Date.Format $dateFormat }} - {{ .ReadingTime }} minutes
            </div>
        </header>
        {{ .Summary }}
        <a href='{{ .Permalink }}'>Read more ...</a>
    {{ end }}
    </section>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
</section>
{{ end }}
