{{ define "main" }}
{{ $totalpostscount := len (where .Data.Pages "Section" "posts") }}
{{ $latestpostscount := .Site.Params.postcount | default $totalpostscount }}
{{ if gt $latestpostscount 0 }}
    <ul>
    {{ range (first $latestpostscount (where .Data.Pages.ByPublishDate.Reverse "Section" "posts")) }}
        <li>
            {{ if .Site.Params.date_format }}
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format .Site.Params.date_format }}</time>
            {{ else }}
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "Jan 2, 2006" }}</time>
            {{ end }}
            <a href="{{ .Permalink }}" title="{{ .Title | safeHTMLAttr }}">{{ .Title }}</a>
        </li>
    {{ end }}
    {{ if gt $totalpostscount $latestpostscount }}
        {{ range where .Site.Menus.main "Identifier" "posts" }}
            <li>
                <a {{ printf "href=%q " .URL | safeHTMLAttr }}><span>See more&hellip;</span></a>
            </li>
        {{ end }}
    {{ end }}
    </ul>
{{ end }}
{{ end }}